<div style="justify-content: space-between;gap:50px; align-items: flex-start;" class="mb-5 flex-row-sb">
    <h3>Extras</h3>
    <div style="width: 60vw;" class="flex-row-sb">
        <c-input-group>
            <input class="search-bar"  autoComplete="name" cFormControl placeholder="Search for anything (Coming soon)" />
        </c-input-group>
        <button style="white-space: nowrap;"  cButton color="primary">Go
        </button>
    </div>
    <button style="white-space: nowrap;" [cModalToggle]="verticallyCenteredModalAddMenuItem.id" cButton color="primary">Create Extras
    </button>
</div>
<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead class="text-nowrap text-truncate">
                        <tr>
                            <!-- <th class="bg-body-tertiary text-center ">
                                <svg cIcon name="cilPeople"></svg>
                            </th> -->
                            <th class="bg-body-tertiary">Menu Item</th>
                            <th class="bg-body-tertiary">Category</th>
                            <th class="bg-body-tertiary">Description</th>
                            <th class="bg-body-tertiary">Price</th>
                            <th class="bg-body-tertiary">Status</th>
                            <th class="bg-body-tertiary">CreatedAt</th>
                            <th class="bg-body-tertiary">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (menuItem of menuItems; track menuItem?.name; let i = $index) {
                        <tr>
                            <!-- <td class="text-center">
                                <c-avatar [size]="'md'"
                                    src="{{serverUrl}}{{ menuItem.attachments[0].replace('//', '/').replace('public','').replace('efielounge-backend','').replace('..','') }}"
                                    status="success" />
                            </td> -->
                            <td>
                                <div>{{ menuItem?.name }}</div>
                            </td>
                            <td>
                                <div>{{ menuItem?.category?.name }}</div>
                            </td>
                            <td>
                                <div>{{ menuItem?.description }}</div>
                            </td>
                            <td>
                                <div>{{ menuItem?.currency }} {{ menuItem?.price }}</div>
                            </td>
                            <td>
                                <div>{{ menuItem?.status }}</div>
                            </td>
                            <td>
                                <div>{{ menuItem?.createdAt }}</div>
                            </td>
                            <td>
                                <div style="justify-content: flex-start;gap:20px" class="flex-row-sb">
                                    <a [cModalToggle]="editverticallyCenteredModalAddMenuItem.id"
                                        href="javascript:void(0)" class="btn btn-primary" (click)="setMenuItemToEdit(i)">Edit</a>
                                    <a (click)="archiveMenuItem(i)" class="btn btn-danger" href="javascript:void(0)">Delete</a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>



<c-modal #verticallyCenteredModalAddMenuItem alignment="center" id="verticallyCenteredModalAddMenuItem">
    <c-modal-header>
        <h5 cModalTitle>MenuItem</h5>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Name<span style="color:red">*</span>
                </label>
                <input [(ngModel)]="form.name" name="name" autoComplete="name" cFormControl placeholder="Name" />
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Category<span style="color:red">*</span>
                </label>
                <select [(ngModel)]="form.category" name="category" aria-label="Default select example" cselect="" class="form-select" >
                    <option>Category</option>
                    <ng-container *ngFor="let menuItemCategory of menuItemCategories;">
                        <option value="{{menuItemCategory._id}}">{{menuItemCategory.name}}</option>
                    </ng-container>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Price<span style="color:red">*</span>
                </label>
                <input [(ngModel)]="form.price" name="price" autoComplete="price" cFormControl placeholder="Price" />
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Currency<span style="color:red">*</span>
                </label>
                <select [(ngModel)]="form.currency" name="currency" aria-label="Default select example" cselect="" class="form-select" >
                    <option>GH₵</option>
                    <option>USD</option>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Status<span style="color:red">*</span>
                </label>
                <select [(ngModel)]="form.status" name="status" aria-label="Default select example" cselect="" class="form-select" >
                    <option>Available</option>
                    <option>You're Too Late</option>
                </select>
            </c-input-group>
            <!-- <c-input-group class="mb-3">
                <label cInputGroupText>
                    Attachments<span style="color:red">*</span>
                </label>
                <input (change)="onFileChange($event)" name="attachments" type="file" cFormControl />
            </c-input-group> -->
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Description
                </label>
                <textarea [(ngModel)]="form.description" name="name" autoComplete="name" cFormControl
                    placeholder="Description"></textarea>
            </c-input-group>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="verticallyCenteredModalAddMenuItem.id" cButton color="secondary">
            Close
        </button>
        <button (click)="createMenuItem()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>

<c-modal #editverticallyCenteredModalAddMenuItem alignment="center" id="editverticallyCenteredModalAddMenuItem">
    <c-modal-header>
        <h5 cModalTitle>Edit MenuItem</h5>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Name<span style="color:red">*</span>
                </label>
                <input [(ngModel)]="selectedMenuItem.name" name="name" autoComplete="name" cFormControl placeholder="Name" />
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Category<span style="color:red">*</span>
                </label>
                <select *ngIf="selectedMenuItem.category" (change)="setCategory($event)" [(ngModel)]="selectedMenuItem.category" name="category" aria-label="Default select example" cselect="" class="form-select" >
                    <option>Category</option>
                    <ng-container *ngFor="let menuItemCategory of menuItemCategories;">
                        <option value="{{menuItemCategory._id}}">{{menuItemCategory.name}}</option>
                    </ng-container>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Price<span style="color:red">*</span>
                </label>
                <input [(ngModel)]="selectedMenuItem.price" name="price" autoComplete="price" cFormControl placeholder="Price" />
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Currency<span style="color:red">*</span>
                </label>
                <select [(ngModel)]="selectedMenuItem.currency" name="currency" aria-label="Default select example" cselect="" class="form-select" >
                    <option>GH₵</option>
                    <option>USD</option>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Status<span style="color:red">*</span>
                </label>
                <select [(ngModel)]="selectedMenuItem.status" name="status" aria-label="Default select example" cselect="" class="form-select" >
                    <option>Available</option>
                    <option>You're Too Late</option>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <label cInputGroupText>
                    Description
                </label>
                <textarea [(ngModel)]="selectedMenuItem.description" name="description" autoComplete="name" cFormControl
                    placeholder="Description"></textarea>
            </c-input-group>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="editverticallyCenteredModalAddMenuItem.id" cButton color="secondary">
            Close
        </button>
        <button (click)="editMenuItem()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>