.basket-container {
    width: 100%;
    background: white;
    height: 80vh;
    border-radius: 10px;
    padding: 20px;
    position: sticky;
    top: 150px;
  }
  
  .flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  svg.empty-cart {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 1s;
  }
  
  svg.empty-cart > path {
    transition: all 1s;
  }
  
  svg.empty-cart > path:hover {
    fill: red;
  }
  
  hr {
    margin: 0px !important;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container img {
    display: block;
  }
  
  .close-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: white;
    color: gray;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
  }
  
  .close-button:hover {
    background-color: white;
  }

  .form{
    margin-top: 20px;
  }

  label{
    font-weight: 700;
  }

  .form-group{
    margin-top: 20px;

  }
  
  /* Modal container */
  .modal {
    display: block;
    position: fixed;
    z-index: 1200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    width: 35%;
    max-height: 80%;
    border-radius: 0px!important;
  }
  
  .modal-body {
    padding: 0px !important;
    // overflow-y: auto; 
  }
  
  .modal-body-content {
    padding: 20px;
  }
  /* Close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .menu-name {
    font-weight: 600;
  }
  
  * {
    font-family: "EuclidCircularB-SemiBold" !important;
  }
  
  /* Make the scrollbar present but invisible */
  ::-webkit-scrollbar {
    width: 0px; /* Adjust width to desired size */
    height: 0px; /* Adjust height to desired size */
  }
  
  ::-webkit-scrollbar-track {
    background: white !important; /* Transparent background */
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Transparent thumb */
  }
  
  /* Optional: To maintain interactivity on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2); /* Slightly visible on hover */
  }
  
  .form-check-input {
    width: 22px;
    height: 22px;
    margin-right: 20px;
  }
  
  .form-check-input:checked {
    background-color: orange;
    border-color: orange;
  }
  
  /* Remove default blue border on focus for checkboxes */
  input[type="checkbox"]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important; /* Optional: to reset to the default border color */
  }
  
  img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  
  .form-check-label {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
  }
  
  .order-now {
    background-color: #272727;
    border: 1px solid transparent;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 10px;
    text-transform: uppercase;
    float: right;
    width: 50%;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
  }
  
  .order-now:hover {
    color: orange !important;
  }
  
  .number {
    margin: 30px;
    border-radius: 20px;
    border: 1px solid rgb(197, 195, 195);
    padding: 10px;
  }
  
  .minus,
  .plus {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-items: center;
    display: flex;
  }
  
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  
  .number-input {
    text-align: center;
    font-size: 18px;
    background: white !important;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
  }

  
/* Extra Small Devices, Phones (0px to 599px) */
@media only screen and (min-width: 300px) and (max-width: 599px) {
  /* Styles for small phones */
  .modal-content {
    width: 100%;
    margin-top: 50%;
  }

}

/* Small Devices, Larger Phones (600px to 767px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* Styles for larger phones */
  .modal-content {
    width: 100%;
    margin-top: 50%;
  }
}

/* Medium Devices, Tablets (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 819px) {
  /* Styles for tablets */
  .modal-content {
    width: 50%;
    margin-top: 50%;
  }
}

/* Medium Devices, Tablets (768px to 991px) */
@media only screen and (min-width: 820px) and (max-width: 991px) {
  /* Styles for tablets */
  .modal-content {
    width: 75%;
    margin-top: 15%;
  }
}

@media (max-width: 980px) {
  .container {
    width: auto;
  }
}

/* Large Devices, Desktops (992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Styles for desktops */
  .modal-content {
    width: 75%;
    margin-top: 15%;
    height: fit-content
  }
}

/* Extra Large Devices, Large Desktops (1200px and above) */
@media only screen and (min-width: 1200px) {
  /* Styles for large desktops */
  
}

  