<!-- Modal Structure -->
<div id="addressesModal" (click)="externalClose($event)" class="modal">
    <div class="modal-content">
        <div class="flex-row-sb">
            <h4>My Delivery Addresses</h4>
            <button (click)="toggleAddressesModal()" class="close-button">&times;</button>
        </div>
        <p>Choose any of your addresses for this order</p>
        <div style="justify-content: flex-start;" class="card-container">
            <ng-container *ngFor="let address of addresses">
                <div *ngIf="address.isDefault" (click)="setDefaultAddress(address)"
                    class="address-item address-card active-address">
                    <div style="padding: 10px; margin-right: 30px;">
                        <div style="flex-wrap: nowrap;" class="flex-row-sb">
                            <small class="flex-col-start ">
                                <svg style="width:20px;height:20px" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path style="fill: green"
                                        d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                                </svg> {{address.name}}
                                <small>{{address?.formatted_address}}</small>
                            </small>
                            <div (click)="removeAddress(address._id)" style="width: 30px!important"
                                class="remove-from-cart">
                                <i _ngcontent-ng-c4121622085="" class="fa fa-trash"></i>
                            </div>
                        </div>
                        <div style="padding-left:20px" class="flex-row-sb">

                            <a style="color: rgb(125, 228, 125)" href="javascript:void(0)">DEFAULT
                                ADDRESS</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="!address.isDefault" (click)="setDefaultAddress(address)" class="address-item address-card ">
                    <div style="padding: 10px;margin-right: 30px;">
                        <div style="flex-wrap: nowrap;" class="flex-row-sb">
                            <small class="flex-col-start ">
                                <svg style="width:20px;height:20px" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                    <path
                                        d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                                </svg> {{address.name}}
                                <small>{{address?.formatted_address}}</small>
                            </small>
                            <div (click)="removeAddress(address._id)" style="width: 30px!important"
                                class="remove-from-cart">
                                <i _ngcontent-ng-c4121622085="" class="fa fa-trash"></i>
                            </div>
                        </div>
                        <div style="padding-left:20px" class="flex-row-sb">


                            <a *ngIf="!address.isDefault" href="javascript:void(0)">SET AS
                                DELIVERY ADDRESS</a>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
        <div class="modal-footer">
            <button (click)="toggleAddressesModal()" id="cancelButton" class="modal-close btn">Exit</button>
        </div>
    </div>

</div>