<div id="addToCartModal" (click)="externalClose($event)" class="modal">
    <div class="modal-content">
        <!-- <span class="close">&times;</span> -->
        <div class="modal-body image-container">
            <img src="{{serverUrl}}{{selectedMenu.image?.replace('/public','')}}" />
            <button (click)="sendBoolean($event)" class="close-button">&times;</button>
            <div class="modal-body-content">
                <h4 class="menu-name">{{selectedMenu?.name}}</h4>
                <h5>GH₵ {{selectedMenu?.price}}</h5>
                <p class="menu-name">{{selectedMenu?.description}}</p>

                <h4 style="margin-top:30px; font-weight: 700;">Extras</h4>
                <ng-container *ngFor="let extra of selectedMenu.extras">
                    <div class="form-check">
                        <input class="form-check-input" (change)="updateExtras(extra?._id, extra?.price)"
                            type="checkbox" value="" id="add-{{extra?._id}}">
                        <label class="form-check-label flex-row-sb" for="add-{{extra?._id}}">
                            <span class="">{{extra?.name}}</span>
                            <span class="">+ GH₵ {{extra?.price}} </span>
                        </label>
                    </div>
                </ng-container>

            </div>
        </div>
        <div class="flex-row-sb">
            <div style="gap:2px" class="number flex-row-sb">
                <span (click)="subQty()" class="minus"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path
                            d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                    </svg></span>
                <input [(ngModel)]="units" class="number-input" value="1" name="units" min="1" max="10" type="number" />
                <span (click)="addQty()" class="plus"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512">
                        <path
                            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z" />
                    </svg></span>

            </div>
            <a class="btn order-now" (click)="addToCart()" href="javascript:void(0)">Add GH₵ {{orderTotal.toLocaleString()}}</a>
        </div>




    </div>

</div>