.gradient-brd {
    // border-radius: 20px;
    background: whitesmoke;
    background:  orangered!important;
}

.gradient-brd:before {
    background:  orangered!important;
}

.order-list-inner, .order-total, h4, ul, .list-wrapper{
    border-radius: 20px;
}