<div style="justify-content: space-between;gap:50px; align-items: flex-start;" class="mb-5 flex-row-sb">
    <h3>Transactions</h3>
    
    <div style="width: 60vw;" class="flex-row-sb">
        <c-input-group>
            <input class="search-bar"  autoComplete="name" cFormControl placeholder="Search for anything (Coming soon)" />
        </c-input-group>
        <button style="white-space: nowrap;"  cButton color="primary">Go
        </button>
    </div>
    <!-- <select style="width:200px"  name="" color="primary" aria-label="Default select example" cselect class="form-select" >
        <option value="customers">PENDING</option>
        <option value="staff">DELIVERED</option>
    </select> -->
    
</div>

<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary text-center ">
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th class="bg-body-tertiary">User</th>
            <th class="bg-body-tertiary">Order</th>
            <th class="bg-body-tertiary text-center">Amount</th>
            <th class="bg-body-tertiary">Reference</th>
            <th class="bg-body-tertiary text-center">Payment Method</th>
            <th class="bg-body-tertiary">Paystack ID</th>
          </tr>
          </thead>
          <tbody>
            @for (transaction of transactions; track transaction._id; let i = $index) {
              <tr>
                <td class="text-center">
                  <c-avatar [size]="'md'" src="{{serverUrl}}/{{ transaction.account.avatar }}" status="success" />
                </td>
                <td>
                  <div style="color: rgb(98, 168, 225)">{{ transaction.account.firstName }} {{ transaction.account.lastName }}</div>
                  <div class="small text-body-secondary text-nowrap">
                  <span *ngIf="transaction.transaction.data.status =='success'" style="color:gray">
                    {{ transaction.transaction.data.status?.toUpperCase() }} <span style="color:gray">| Paid On: {{ formatDate(transaction.transaction?.data?.paidAt) }}</span>
                  </span>
                  <span *ngIf="transaction.transaction.data.status !=='success'" style="color:red">
                    {{ transaction.transaction.data.status?.toUpperCase() }} <span style="color:gray">| Paid On: {{ formatDate(transaction.transaction?.data?.paidAt) }}</span>
                  </span>
                  </div>
                </td>
                <td>{{transaction?.checkOutId}}</td>
                <td class="text-center">
                    <span>GHC {{(transaction.transaction.data.amount/100).toFixed(2)?.toLocaleString()}}</span>
                </td>
                <td class="text-center">
                  <span>{{transaction.transaction.data.reference}}</span>
              </td>
                <td *ngIf="transaction.transaction.data.authorization.channel == 'card'" class="text-center">
                  <svg *ngIf="transaction.transaction.data.authorization.card_type == 'visa'" cIcon name="cibCc{{ 'Visa' }}" size="xl"></svg>

                  <svg *ngIf="transaction.transaction.data.authorization.card_type != 'visa'" cIcon name="cibCc{{ 'Mastercard' }}" size="xl"></svg>
                </td>
                <td *ngIf="transaction.transaction.data.authorization.channel == 'mobile_money'" class="text-center">
                  <span>MOMO</span>
                </td>
                <td>
                  <div class="small text-body-secondary">{{transaction.transaction.data.customer.email}}</div>
                  <div class="fw-semibold text-nowrap">{{ transaction.transaction.data.customer.customer_code }}</div>
                </td>
              </tr>
            }
          </tbody>
        </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>
