<div style="justify-content: space-between;gap:50px; align-items: flex-start;" class="mb-5 flex-row-sb">
    <h3>Menu</h3>
    <div style="width: 60vw;" class="flex-row-sb">
        <c-input-group>
            <input class="search-bar"  autoComplete="name" cFormControl placeholder="Search for anything (Coming soon)" />
        </c-input-group>
        <button style="white-space: nowrap;"  cButton color="primary">Go
        </button>
    </div>
    <button style="white-space: nowrap;" [cModalToggle]="verticallyCenteredModalAddMenu.id" cButton color="primary">Create Menu
    </button>
</div>
<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead class="text-nowrap text-truncate">
                        <tr>
                            <th class="bg-body-tertiary text-center ">
                                <svg cIcon name="cilPeople"></svg>
                            </th>
                            <th class="bg-body-tertiary">Menu</th>
                            <th class="bg-body-tertiary">Category</th>
                            <th class="bg-body-tertiary">Description</th>
                            <th class="bg-body-tertiary">Price</th>
                            <th class="bg-body-tertiary">Status</th>
                            <th class="bg-body-tertiary">Extras</th>
                            <th class="bg-body-tertiary">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (menu of menus; track menu?.name; let i = $index) {
                        <tr>
                            <td class="text-center">
                                <c-avatar [size]="'md'"
                                    src="{{serverUrl}}{{ menu.attachments[0].replace('//', '/').replace('public','').replace('efielounge-backend','').replace('..','') }}"
                                    status="success" />
                            </td>
                            <td>
                                <div>{{ menu?.name }}</div>
                            </td>
                            <td>
                                <div>{{ menu?.category?.name }}</div>
                            </td>
                            <td>
                                <div>{{ menu?.description }}</div>
                            </td>
                            <td>
                                <div style="white-space: nowrap;">{{ menu?.currency }} {{ menu?.price }}</div>
                            </td>
                            <td>
                                <div>{{ menu?.status }}</div>
                            </td>
                            <td>
                                <ul>
                                    <li style="white-space: nowrap;" *ngFor="let extra of menu.menuItems">{{extra.name}}</li>
                                </ul>
                            </td>
                            <td>
                                <div style="justify-content: flex-start;gap:20px" class="flex-row-sb">
                                    <a [cModalToggle]="editverticallyCenteredModalAddMenu.id"
                                    href="javascript:void(0)" (click)="setMenuToEdit(i)">Edit</a>
                                    <a (click)="archiveMenu(i)" href="javascript:void(0)">Delete</a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>



<c-modal #verticallyCenteredModalAddMenu alignment="center" id="verticallyCenteredModalAddMenu">
    <c-modal-header>
        <h5 cModalTitle>Create Menu</h5>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <input [(ngModel)]="form.name" name="name" autoComplete="name" cFormControl placeholder="Name" />
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select [(ngModel)]="form.category" name="category" aria-label="Default select example" cselect class="form-select" >
                    <option disabled>Choose a menu category</option>
                    <ng-container *ngFor="let menuCategory of menuCategories;">
                        <option value="{{menuCategory._id}}">{{menuCategory.name}}</option>
                    </ng-container>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select multiple [(ngModel)]="form.menuItems" name="menuItems" aria-label="Default select example" cselect class="form-select" >
                    <option disabled>Select one or more menu items</option>
                    <ng-container *ngFor="let menuItem of menuItems;">
                        <option value="{{menuItem._id}}">{{menuItem.name}}</option>
                    </ng-container>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <input [(ngModel)]="form.price" name="price" autoComplete="price" cFormControl placeholder="Price" />
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select [(ngModel)]="form.currency" name="currency" aria-label="Default select example" cselect class="form-select" >
                    <option>Choose a currency</option>
                    <option>GH₵</option>
                    <option>USD</option>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select [(ngModel)]="form.status" name="status" aria-label="Default select example" cselect class="form-select" >
                    <option disabled>Select a status</option>
                    <option *ngFor="let status of statuses">{{status}}</option>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <input (change)="onFileChange($event)" name="attachments" multiple type="file" cFormControl />
            </c-input-group>
            <c-input-group class="mb-3 variant">
                <label cInputGroupText>
                    Variants:
                </label>
                <div style="margin-left: 10px;" class="flex-row-sb">
                    <input [(ngModel)]="variant.name" class="variant"  name="variants" autoComplete="name" cFormControl placeholder="variant" />
                    <input [(ngModel)]="variant.price" class="variant"  name="price"  cFormControl placeholder="Price" />

                    <button class="btn btn-primary" (click)="addVariant()">Add</button>
                </div>
                <div style="flex-wrap: wrap;margin-left: 10px;" class="flex-row-sb pill">
                    <ng-container *ngFor="let _variant of form.variants">
                        <div class="variant-pill">
                            {{_variant.name}}
                            <button (click)="removeVariant(form.variants,_variant.name)" class="close-btn">&times;</button>
                        </div>                        
                    </ng-container>
                </div>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <textarea [(ngModel)]="form.description" name="name" autoComplete="name" cFormControl
                    placeholder="Description"></textarea>
            </c-input-group>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="verticallyCenteredModalAddMenu.id" cButton color="secondary">
            Close
        </button>
        <button (click)="createMenuItem()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>

<c-modal #editverticallyCenteredModalAddMenu alignment="center" id="editverticallyCenteredModalAddMenu">
    <c-modal-header>
        <h5 cModalTitle>Edit Menu</h5>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <input [(ngModel)]="selectedMenu.name" name="name" autoComplete="name" cFormControl placeholder="Name" />
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select [(ngModel)]="selectedMenu.category" name="category" aria-label="Default select example" cselect class="form-select" >
                    <option disabled>Choose a menu category</option>
                    <ng-container *ngFor="let menuCategory of menuCategories;">
                        <option value="{{menuCategory._id}}">{{menuCategory.name}}</option>
                    </ng-container>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select multiple [(ngModel)]="selectedMenu.menuItems" name="menuItems" aria-label="Default select example" cselect class="form-select" >
                    <option disabled>Select one or more menu items</option>
                    <ng-container *ngFor="let menuItem of menuItems;">
                        <option value="{{menuItem._id}}">{{menuItem.name}}</option>
                    </ng-container>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <input [(ngModel)]="selectedMenu.price" name="price" autoComplete="price" cFormControl placeholder="Price" />
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select [(ngModel)]="selectedMenu.currency" name="currency" aria-label="Default select example" cselect class="form-select" >
                    <option>Choose a currency</option>
                    <option>GH₵</option>
                    <option>USD</option>
                </select>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <select [(ngModel)]="selectedMenu.status" name="status" aria-label="Default select example" cselect class="form-select" >
                    <option disabled>Select a status</option>
                    <option *ngFor="let status of statuses">{{status}}</option>
                </select>
            </c-input-group>
            <c-input-group class="mb-3 variant">
                <label cInputGroupText>
                    Variants:
                </label>
                <div style="margin-left: 10px;" class="flex-row-sb">
                    <input [(ngModel)]="variant.name" class="variant"  name="variants" autoComplete="name" cFormControl placeholder="variant" />

                    <input [(ngModel)]="variant.price" class="variant"  name="price"  cFormControl placeholder="Price" />
                    <button class="btn btn-primary" (click)="updateVariant()">Add</button>
                </div>
                <div style="flex-wrap: wrap;margin-left: 10px;" class="flex-row-sb pill">
                    <ng-container *ngFor="let _variant of selectedMenu.variants">
                        <div class="variant-pill">
                            {{_variant.name}}
                            <button (click)="removeVariant(selectedMenu.variants,_variant.name, true)" class="close-btn">&times;</button>
                        </div>                        
                    </ng-container>
                </div>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                </span>
                <textarea [(ngModel)]="selectedMenu.description" name="description" cFormControl
                    placeholder="Description"></textarea>
            </c-input-group>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button [cModalToggle]="editverticallyCenteredModalAddMenu.id" cButton color="secondary">
            Close
        </button>
        <button (click)="editMenu()" cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>