.popup-social{
    gap: 10px;
    display: flex;
    justify-content: center;
}

.auth{
    margin-top: 140px;
    margin-left: 250px;
    margin-right: 250px;
}

// .spinner {
//     width: 25px;
//     height: 25px;
//     border: 1px solid orangered;
//     border-top: 2px solid transparent;
//     border-radius: 50%;
//     text-align: center !important;
//     animation: spin 1s linear infinite;
//   }
  
//   @keyframes spin {
//     0% {
//       transform: rotate(0deg);
//     }
//     100% {
//       transform: rotate(360deg);
//     }
//   }