<style>
    h1 {
        text-align: center;
    }
    p, ul {
        margin-bottom: 15px;
    }
    ul {
        list-style-type:disc;
        margin-left: 20px;
    }
</style>
<div id="privacyModal" (click)="externalClose($event)" class="privacy-modal">
    <div class="modal-content">
        <div class="modal-body image-container">
            <button style="z-index: 1200;" (click)="togglePrivacyPolicy()" class="close-button">&times;</button>
            <div class="modal-body-content">
                <section>

                    <h1>PRIVACY POLICY</h1>
                    <p><strong>Last Updated 19th August 2024</strong></p>
                
                    <p>Your information is your information and we understand that, which is why we are committed to respecting the privacy of anyone who visits our restaurants or our <a style="color: orangered" href="https://www.efielounge.com">website</a>.</p>
                    
                    <p>Just to let you know, the Site is not intended for children, specifically anyone under the age of 16, so if you are under this age, please do not use our Site.</p>
                    
                    <p>This privacy policy explains our approach to any personal information we might collect from you (or where a third party has collected it on our behalf) because we want to ensure that you understand this. It also explains what our purpose is when we process this information and your rights surrounding this.</p>
                
                    <h2>Who are we and what do we do?</h2>
                    <p>The Site and our Services are operated by Thames Flow Investments Limited trading as Efie Lounge (“we”, “us” or “our”).</p>
                
                    <h2>How to contact us?</h2>
                    <p>If you have any questions about this Privacy Policy or wish to exercise your rights set out in this Privacy Policy, please contact our friendly Data Privacy Manager by:</p>
                    <ul>
                        <li>sending an e-mail to <a style="color: orangered" href="mailto:manager&#64;efielounge.com">manager&#64;efielounge.com</a> or</li>
                        <li>writing to us at Efie Lounge, PO Box 297 Abeka Accra.</li>
                    </ul>
                
                    <h2>What personal information do we collect and how do we use it?</h2>
                    <p>We collect and use your personal information in a variety of ways, for example, to provide you with the Services that you have requested from us such as making a table booking or to send you marketing. We have set out below the ways in which we collect your personal information and the reasons why we use it.</p>
                
                    <h2>Marketing</h2>
                    <p>We carry out the following marketing activities using your personal information:</p>
                    <p>Any other purposes for which we wish to use your personal information that are not listed above, or any other changes we propose to make to the existing purposes will be notified to you using your contact details.</p>
                
                    <h2>How do we share your personal information?</h2>
                    <p>We do not sell any of your personal information to any third parties. Your privacy is important to us. However, we will share your personal information with a variety of companies, where it is necessary to do so, in order to enable us to provide the services to you as set out in this Privacy Policy.</p>
                
                    <h2>International transfers</h2>
                    <p>Where necessary in order to deliver our services, we will transfer personal information to countries outside Ghana. When doing so, we will comply with our legal and regulatory obligations in relation to the personal information including having a lawful basis for transferring personal information and putting appropriate safeguards in place to ensure an adequate level of protection for the personal information.</p>
                
                    <h2>How do we obtain your consent?</h2>
                    <p>Where our use of your personal information requires your consent, you can provide such consent:</p>
                    <ul>
                        <li>at the time we collect your personal information following the instructions provided; or</li>
                        <li>by informing us by e-mail, post, or phone using the contact details set out in this Privacy Policy.</li>
                    </ul>
                
                    <h2>Our use of cookies and similar technologies</h2>
                    <p>Our Site uses certain cookies, pixels, beacons, log files, and other technologies of which you should be aware. Please see our <a style="color: orangered" (click)="showCookiePolicy()" href="javascript:void(0)">Cookie Policy</a> to find out more about the cookies we use and how to manage and delete cookies.</p>
                
                    <h2>Third party links and services</h2>
                    <p>Our Site contains links to third-party websites and services. Please remember that when you use a link to go from our Site to another website or you request a service from a third party, this Privacy Policy no longer applies.</p>
                
                    <h2>Changes to this privacy policy</h2>
                    <p>We may make changes to this Privacy Policy from time to time.</p>
                
                </section>
            </div>
        </div>
    </div>
</div>