<div style="justify-content: space-between;gap:50px; align-items: flex-start;" class="mb-5 flex-row-sb">
    <h3>Orders</h3>
    
    <div style="width: 60vw;" class="flex-row-sb">
        <c-input-group>
            <input class="search-bar"  autoComplete="name" cFormControl placeholder="Search for anything (Coming soon)" />
        </c-input-group>
        <button style="white-space: nowrap;"  cButton color="primary">Go
        </button>
    </div>
    <select style="width:200px"  name="" color="primary" aria-label="Default select example" cselect class="form-select" >
        <option value="customers">PENDING</option>
        <option value="staff">DELIVERED</option>
    </select>
    
</div>

<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead class="text-nowrap text-truncate">
                        <tr>
                            
                            <th class="bg-body-tertiary">Order Reference</th>
                            <th class="bg-body-tertiary">GrandTotal</th>
                            <th class="bg-body-tertiary">CreatedAt</th>
                            <th class="bg-body-tertiary"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (order of orders; track order?._id; let i = $index) {
                        <tr>
                            <td>
                                <div>{{ order?.checkOutId }}</div>
                            </td>
                            <td>
                                <div>GH₵ {{ order?.grandTotal }}</div>
                            </td>
                            <td>
                                <div>{{ order?.date }}</div>
                            </td>
                            <td>
                                <div style="justify-content: flex-start;gap:20px" class="flex-row-sb">
                                    <a [cModalToggle]="manageSelectedOrder.id" href="javascript:void(0)" class="btn btn-primary" (click)="setorderToEdit(i)">Manage Order</a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<c-modal #manageSelectedOrder alignment="center" size="xl" scrollable id="manageSelectedOrder">
    <c-modal-header>
        <h5 cModalTitle>Order {{orders[index]?.checkOutId}}</h5>
    </c-modal-header>
    <c-modal-body>
        <form cForm>
            <div class="account">
                <div class="container mx-auto" cForm>
                    <div style="gap:10px; margin-bottom: 10px;" class="flex-row-sb">
                        <img class="avatar" src="{{serverUrl}}/{{account?.avatar}}">
                      
                    </div>
                    <div style="gap:10px" class="flex-row-sb">
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">Firstname</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false" [(ngModel)]="account.firstName" name="firstName" autoComplete="name" cFormControl />
                        </c-input-group>
                       
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">Lastname</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false"  [(ngModel)]="account.lastName" name="lastName" autoComplete="price" cFormControl />
                        </c-input-group>
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">Username</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false" [(ngModel)]="account.userName" name="userName" autoComplete="price" cFormControl />
                        </c-input-group>
                    </div>
                    <div style="gap:10px" class="flex-row-sb">
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">Email</span>
                            </span>
                            <input [readonly]="true" class="edit-false" [(ngModel)]="account.email" name="email" autoComplete="name" cFormControl />
                        </c-input-group>
                       
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">Phone</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false" [(ngModel)]="account.phone" name="phone" autoComplete="price" cFormControl />
                        </c-input-group>
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">Phone2</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false" [(ngModel)]="account.altPhone" name="altPhone" autoComplete="price" cFormControl />
                        </c-input-group>
                    </div>
                    <div style="gap:10px" class="flex-row-sb">
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">Street</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false" [(ngModel)]="account.street" name="street" autoComplete="name" cFormControl />
                        </c-input-group>
                       
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">City</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false" [(ngModel)]="account.city" name="city" autoComplete="price" cFormControl />
                        </c-input-group>
                        <c-input-group class="mb-3">
                            <span class="edit-false" cInputGroupText>
                                <span class="edit-false">State</span>
                            </span>
                            <input [readonly]="isReadOnly" class="edit-false" [(ngModel)]="account.stateOfResidence" name="state" autoComplete="price" cFormControl />
                        </c-input-group>
                
                    </div>
                </div>
            </div>
            <div class="orders">
                <ng-container *ngFor="let order of selectedOrder.orders">
                    <div style="justify-content: space-between;align-items: flex-start;" class="flex-row-sb">
                        <img class="order-image col-md-3" src="{{serverUrl}}{{order.menu.attachments[0].replace('/public', '')}}"/>
                        <div class=col-md-5>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    Menu
                                </span>
                                <input [(ngModel)]="order.menu.name" name="{{order.menu.name}}" autoComplete="name" cFormControl placeholder="Name" />
                            </c-input-group>
                            <c-input-group class="mb-3">
                                <span cInputGroupText>
                                    QTY
                                </span>
                                <input [(ngModel)]="order.units" name="{{order._id}}" autoComplete="name" cFormControl placeholder="Name" />
                            </c-input-group>
                        </div>
                        <div style="align-items: flex-start; justify-content: flex-start;" class="extras flex-row-sb col-md-2">
                            <ng-container *ngFor="let extra of order.customMenuItems">
                                <div class="extras-pill">{{extra.name}}</div>
                            </ng-container>
                        </div>
                        <button disabled class="btn btn-secondary col-md-2">Mark for refund</button>
                    </div>
                    <hr>
                    
                </ng-container>
                <div class="grand-total">Grand Total: <span>{{selectedOrder.grandTotal}}</span></div>
            </div>
            <h6>Delivery Address</h6>
            <div class="flex-row-sb">
                <c-input-group class="mb-3">
                    <span class="edit-false" cInputGroupText>
                        <span class="edit-false">Street</span>
                    </span>
                    <input readonly cFormControl value="{{selectedOrder?.deliveryAddress?.address}}"/>
                </c-input-group>
                <c-input-group class="mb-3">
                    <span class="edit-false" cInputGroupText>
                        <span class="edit-false">District</span>
                    </span>
                    <input readonly cFormControl value="{{selectedOrder?.deliveryAddress?.district}}"/>
                </c-input-group>
                <c-input-group class="mb-3">
                    <span class="edit-false" cInputGroupText>
                        <span class="edit-false">Phone</span>
                    </span>
                    <input readonly cFormControl type="telephone" value="{{selectedOrder.deliveryAddress?.phone}}"/>
                </c-input-group>
            </div>
            <c-input-group class="mb-3">
                <span class="edit-false" cInputGroupText>
                    <span class="edit-false">Order Status</span>
                </span>
                <select [(ngModel)]="selectedOrder.status" name="status" aria-label="Default select example" cselect class="form-select" >
                    <option>Mark As</option>
                    <ng-container *ngFor="let status of statuses">
                        <option value="{{status}}">{{status}}</option>
                    </ng-container>
                </select>
            </c-input-group>
            <!-- <c-input-group class="mb-3">
                <span cInputGroupText>
                    Delivery Fee
                </span>
                <input [(ngModel)]="selectedOrder.deliveryCost" name="{{selectedOrder.deliveryCost}}" autoComplete="name" cFormControl placeholder="Delivery Fee" />
            </c-input-group> -->
            <c-input-group class="mb-3">
                <span class="edit-false" cInputGroupText>
                    <span class="edit-false">Notes</span>
                </span>
                <textarea [(ngModel)]="selectedOrder.notes" name="message" cFormControl
                    placeholder="Notes"></textarea>
            </c-input-group>
        </form>
    </c-modal-body>
    <c-modal-footer>
        <button class="close-order" [cModalToggle]="manageSelectedOrder.id" cButton color="secondary">
            Close
        </button>
        <button (click)=submit() cButton color="primary">Submit</button>
    </c-modal-footer>
</c-modal>