<div style="justify-content: space-between;gap:50px; align-items: flex-start;" class="mb-5 flex-row-sb">
  <h3>Categories</h3>
  <div style="width: 60vw;" class="flex-row-sb">
      <c-input-group>
          <input class="search-bar"  autoComplete="name" cFormControl placeholder="Search for anything (Coming soon)" />
      </c-input-group>
      <button style="white-space: nowrap;"  cButton color="primary">Go
      </button>
  </div>
  <button style="white-space: nowrap;" [cModalToggle]="verticallyCenteredModal.id" cButton color="primary">Create Category
  </button>
</div>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead class="text-nowrap text-truncate">
            <tr>
              
              <th class="bg-body-tertiary">Category Name</th>
              <th class="bg-body-tertiary">CreatedAt</th>
              <th class="bg-body-tertiary">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (category of categories; track category?.name; let i = $index) {
            <tr>
              <td>
                <div>{{ category?.name }}</div>
              </td>
              <td>
                <div>{{ category?.createdAt }}</div>
              </td>
              <td>
                <div style="justify-content: flex-start;gap:20px" class="flex-row-sb">
                  <a [cModalToggle]="editverticallyCenteredModal.id" class="btn btn-primary" (click)="setcategoryToEdit(i)" href="javascript:void(0)">Edit</a>
                  <a (click)="archiveCategory(i)" class="btn btn-warning" href="javascript:void(0)">Archive</a>
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal #verticallyCenteredModal alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>New Category</h5>
  </c-modal-header>
  <c-modal-body>
    <form cForm>
      <c-input-group class="mb-3">
        <label cInputGroupText>
          Name:
        </label>
        <input [(ngModel)]="name" name="name" autoComplete="name" cFormControl placeholder="Category Name" />
      </c-input-group>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="verticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button (click)="createCategory()" cButton color="primary">Submit</button>
  </c-modal-footer>
</c-modal>

<c-modal #editverticallyCenteredModal alignment="center" id="editverticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Edit Category</h5>
  </c-modal-header>
  <c-modal-body>
    <form cForm>
      <c-input-group class="mb-3">
        <label cInputGroupText>
          Name:
        </label>
        <input [(ngModel)]="selectedCategory.name" name="name" autoComplete="name" cFormControl placeholder="Category Name" />
      </c-input-group>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="editverticallyCenteredModal.id" cButton color="secondary">
      Close
    </button>
    <button (click)="editMenuCategory()" cButton color="primary">Submit</button>
  </c-modal-footer>
</c-modal>
