.cart-badge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: orangered;
  color: white;
  text-align: center;
  padding-top: 7px;
}

sup {
  top: -2.5em;
  right: -3.5em;
}

.icon {
  width: 16px;
  height: 18px;
  margin-right: 5px;
}

svg path {
  fill: black;
  transition: all 0.5s;
}

ul li :hover {
  svg path {
    fill: orangered;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  // gap:
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // gap:20px
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header {
  padding-left: 20px;
  padding-right: 20px;
}

.account {
  font-weight: 700;
  color: slategray;
  white-space: nowrap;
}

.logout {
  transition: all 0.5s;
  white-space: nowrap;
}

.logout:hover {
  svg path {
    fill: orangered;
  }
  color: orangered;
}

ul {
  padding-left: 20%;
}

/* Extra Small Devices, Phones (0px to 599px) */
@media only screen and (max-width: 599px) {
  /* Styles for small phones */
  #profile-dock-widget {
    right: -100%!important;
    width: 100%!important;
    top: 5rem!important;
  }
  #profile-dock-widget.dock-visible {
    right: 0!important;
  }
  
}

/* Small Devices, Larger Phones (600px to 767px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  /* Styles for larger phones */
  #profile-dock-widget {
    right: -50%!important;
    width: 50%!important;
    top: 5rem!important;
  }
  #profile-dock-widget.dock-visible {
    right: 0!important;
  }
}


@media (min-width: 768px) and (max-width: 1280px) {
  ul {
    padding-left: 0%;
  }
  #profile-dock-widget {
    right: -50%!important;
    width: 50%!important;
  }
  #profile-dock-widget.dock-visible {
    right: 0!important;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav > div > ul {
    padding-right: 10px !important;
  }
}

li.cart {
  position: relative;
}

li.cart a {
  position: relative;
  display: inline-block;
  padding-right: 20px; /* Adjust padding to ensure the badge doesn't overlap the text */
}

.mobile-sub-menu {
  transition: all 0.5s;
  // max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.show-sub-menu {
  display: block !important;
}

.menu-caret > path {
  fill: white;
}

.badge {
  position: absolute;
  top: 17px;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.25em 0.45em;
  font-weight: bold;
  font-size: 12px;
  width: 18px;
  height: 18px;
}

.responsive-logomenu > span {
  float: right;
  cursor: pointer;
  line-height: 30px;
  width: 40px;
  text-align: center;
  font-size: 14px;
  margin: 22px 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.responsive-header {
  position: fixed;
  z-index: 2;
}

.responsive-menu-show {
  position: fixed;
  top: 0;
  right: 0px;
  opacity: 1;
  visibility: visible;
}

.menu-lst {
  height: 82% !important;
}

.menu-lst > ul {
  height: 95%;
  overflow-x: hidden;
}

.menu-lst > ul > li:before {
  content: "";
  width: 100%;
}

.menu-lst > ul > li > a > svg {
  margin-left: 10px;
  margin-right: 10px;
}

.menu-lst > ul > li > a > svg > path {
  fill: white !important;
}

.menu-toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 4px;
  background: #000;
  box-shadow: 0 8px 0 #000, 0 -8px 0 #000;
}

/* profile menu */

.profile {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-align: end;
}

.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-weight: 600;
  white-space: nowrap;
  color: orangered;
}

.profile p {
  line-height: 1;
  font-size: 14px;
  opacity: 0.6;
}

.profile .img-box {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* menu (the right one) */

.menu {
  position: absolute;
  top: calc(100% + 24px);
  right: 16px;
  width: fit-content;
  min-height: 100px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: 300ms;
  min-width: 200px;
}

.menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 14px;
  width: 20px;
  height: 20px;
  background: orangered;
  transform: rotate(45deg);
  z-index: -1;
}

.profile h3 {
  text-align: end;
  line-height: 1;
  margin-bottom: 4px;
  font-size: 22px !important;
  font-weight: 600 !important;
}

.menu.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* menu links */

.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background: #fff;
  padding: 10px !important;
}

.menu ul li {
  list-style: none;
}

.menu ul li:hover {
  background: #eee;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 15px 0px;
  gap: 6px;
}

.menu ul li a i {
  font-size: 1.2em;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#profile-dock-widget {
  position: fixed;
  top: 7.2rem;
  right: -32%; /* Adjust width as needed */
  width: 32%; /* Adjust width as needed */
  height: 100%;
  background-color: #f0f0f0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 999;
}

#profile-dock-widget.dock-visible {
  right: 0;
}

.profile-overlay {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.profile-header {
  background: ghostwhite;
  padding: 20px;
}

.profile-header > h3 {
  font-size: 20px;
  color: orangered;
  font-weight: 600;
}

.save:hover {
  background-color: orangered;
}

.save {
  background-color: #272727;
  border: 1px solid transparent;
  color: #fff;
  float: right;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px;
  text-transform: uppercase;
}

.form-container {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  height: fit-content;
  border-radius: 10px;
  padding: 50px 30px;
  background-color: ghostwhite;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #333;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.form-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 14px;
  color: #777;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.not-editing {
  border-color: transparent;
  outline: none;
  top: -6px !important;
  color: gray !important;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 0px !important;
}

.form-group input:focus {
  border-color: orangered;
  outline: none;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: orangered;
  background-color: ghostwhite;
  padding: 0 4px;
  border-radius: 4px;
  left: 8px;
}
.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-button:hover {
  background-color: orangered;
}

.phone-no-valid-err {
  font-size: 12px;
  color: orangered;
}

.addresses,
.address-item,
.x-flex-row {
  padding: 0px !important;
  // border-bottom: 0px !important;
}

small {
  white-space: nowrap;
}
.address-item {
  background: white;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.remove-from-cart {
  margin-left: 10px;
}

.active-address {
  border: 2px solid orangered;
}

.address-item > div > span {
  color: black;
  padding: 10px;
}

.address-list {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
  background: ghostwhite;
  padding: 20px;
  border-radius: 10px;
}
