.cart-badge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: orange;
  color: white;
  text-align: center;
  padding-top: 7px;
}

sup {
  top: -2.5em;
  right: -3.5em;
}

.icon {
  width: 16px;
  height: 18px;
  margin-right: 5px;
}

svg path {
  fill: black;
  transition: all 0.5s;
}

ul li :hover {
  svg path {
    fill: orange;
  }
}

.flex-row {
  display: flex;
  align-items: center;
  // gap:
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // gap:20px
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header {
  padding-left: 20px;
  padding-right: 20px;
}

.account {
  font-weight: 700;
  color: slategray;
  white-space: nowrap;
}

.logout {
  transition: all 0.5s;
}

.logout:hover {
  svg path {
    fill: orange;
  }
  color: orange;
}

ul {
  padding-left: 20%;
}

@media (min-width: 768px) and (max-width: 1280px) {
  ul {
    padding-left: 0%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  nav > div > ul {
    padding-right: 10px !important;
  }
}

li.cart {
  position: relative;
}

li.cart a {
  position: relative;
  display: inline-block;
  padding-right: 20px; /* Adjust padding to ensure the badge doesn't overlap the text */
}

.mobile-sub-menu{
  transition: all 0.5s;
}

.show-sub-menu{
  display: block!important;

}

.menu-caret >path{
  fill: white
}



.badge {
  position: absolute;
  top: 17px;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.25em 0.45em;
  font-weight: bold;
  font-size: 12px;
  width: 18px;
  height: 18px;
}

.responsive-logomenu > span {
  float: right;
  cursor: pointer;
  line-height: 30px;
  width: 40px;
  text-align: center;
  font-size: 14px;
  margin: 22px 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}


.responsive-header{
  position: fixed;
  z-index: 2
}

.responsive-menu-show {
  position: fixed;
  top: 0;
  right: 0px;
  opacity: 1; 
  visibility: visible; 
}

.menu-lst > ul {
  height: fit-content;
}


.menu-lst > ul > li:before {
  content: "";
  width: 100%;
}

.menu-lst > ul > li > a > svg {
  margin-left:10px;
  margin-right:10px
}

.menu-lst > ul > li > a > svg> path {
  fill: white!important;
}
