.cart-badge{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: orange;
    color: white;
    text-align: center;
    padding-top: 7px;
}

sup {
    top: -2.5em;
    right: -3.5em;
}