<!-- Modal Structure -->
<div id="transferModal" class="modal">
    <div class="modal-content">
        <h4>Direct Bank Transfer</h4>
        <p>Transfer to any of the accounts below and use <span style="color:orange">{{payment?.ref}}</span> as your payment reference</p>
        <div class="card-container">
            <div class="bank-account-card" *ngFor="let account of bankAccounts">
                <img class="logo" src="{{account.logo}}" />
                <div style="margin-top: 10px;">
                    <p>Account Name: {{ account.name }}</p>
                    <p>Account Number: {{ account.number }}</p>
                    <p>Amount: GHC {{ payment?.amount?.toFixed(2).toLocaleString() }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="/upload-proof-of-payment?ref={{payment?.ref}}" id="cancelButton" class="modal-close has-paid btn">I have Paid</a>
            <button (click)="toggleTransferModal()" id="cancelButton" class="modal-close btn">Exit</button>
        </div>
    </div>

</div>